github "danielgindi/Charts" == 3.0.1
github "WenchaoD/FSCalendar"
github "skywinder/ActionSheetPicker-3.0"
github "MoZhouqi/KMPlaceholderTextView" >= 1.3
github "suzuki-0000/SKPhotoBrowser"
github "ninjaprox/NVActivityIndicatorView"
