<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Your camera is used to make photos and videos to be uploaded to Assignments. Your photos and videos won’t be shared without your permission.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Your microphone is used to make videos to be uploaded to Assignments. Your videos won’t be shared without your permission.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>The photos you choose will be uploaded to Assignments. Your photos won’t be shared without your permission.</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>createTask</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Create Task</string>
			<key>UIApplicationShortcutItemType</key>
			<string>createTask</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>calendar</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Open Calendar</string>
			<key>UIApplicationShortcutItemType</key>
			<string>openCalendar</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>pieChart</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Statustic</string>
			<key>UIApplicationShortcutItemType</key>
			<string>openStatistic</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>reminder</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Reminders</string>
			<key>UIApplicationShortcutItemType</key>
			<string>openReminders</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>taskList</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Tasks</string>
			<key>UIApplicationShortcutItemType</key>
			<string>openTasks</string>
		</dict>
	</array>
	<key>NSCalendarsUsageDescription</key>
	<string>Your calendar is used for creation of new events that are exported from Assignments.</string>
</dict>
</plist>
